* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-image: url(unnamed.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    min-height: 100%;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 30px;
    color: white;
}

span {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    letter-spacing: 10px;
    margin-top: 30px;
    color: rgb(39, 218, 15);   
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#colors {
    margin: 20px;
    height: 40px;
    width: 140px;
    padding: 0 10px;
    background: #bd7a7a;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.2px;
    margin-left: 33px;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    padding: 0 5px;
    pointer-events: none;
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .5s;
}

.input-group input {
    width: 400px;
    height: 40px;
    padding: 0 10px;
    background: #bd7a7a;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.2px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 15px;
    background: #bd7a7a;
    border-top: .5px solid #fff;
    border-radius: 5px;
}



.container {
    /*background-color: black;*/
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container img {
    width: 320px;
    height: 260px;
    margin: 14px;
}

h2, h3{
    color: white;
}

.buttons {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#previous-button, #next-button, input[type="submit"]{
    min-width: 100px;
    min-height: 40px;
    border: 1.2px solid #fff;
    color: white;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 1.4px;
    margin: 25px 10px;
    padding: 0 20px;
    background-color: #bd7a7a;
}