* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-image: url(unnamed.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    min-height: 100%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin-top: 30px;
    color: white;
}

span {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    letter-spacing: 5px;
    margin-top: 30px;
    color: rgb(39, 218, 15);
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#colors {
    margin: 20px;
    height: 40px;
    width: 140px;
    padding: 0 10px;
    background: #bd7a7a;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.2px;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    padding: 0 5px;
    pointer-events: none;
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .5s;
}

.input-group input {
    width: 400px;
    height: 40px;
    padding: 0 10px;
    margin: 0 20px;
    background: #bd7a7a;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.2px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 15px;
    background: #bd7a7a;
    border-top: .5px solid #fff;
    border-radius: 5px;
}

.container {
    max-width: 90%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: auto;
} 

.container img {
    width: 320px;
    height: 260px;
    margin: 14px;
}

.container div{
    max-width: 348px;
}

h2, h3 {
    color: white;
}

.buttons {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#previous-button,
#next-button,
input[type="submit"] {
    min-width: 100px;
    min-height: 40px;
    border: 1.2px solid #fff;
    color: white;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 1.4px;
    margin: 25px 20px;
    padding: 0 10px;
    background-color: #bd7a7a;
}

#previous-button:disabled,
#next-button:disabled{
    background-color: #242424;
}

@media screen and (max-width: 820px) {
    #search-form {
        display: block;
    }

    .input-group label {
        left: 25%;
    }

    select, input[type="submit"] {
        vertical-align: middle;
    }
}

@media screen and (max-width: 442px) {
    .input-group label {
        left: 25%;
    }

    .input-group input {
        width: 300px;
        left: 50%;
    }

    span {
        letter-spacing: 0px;
    }
}